<h2>Learning Algorithms</h2>
<h4 class="pt-4">Sorting</h4>
<div class="divider"></div>
<mat-list>
	<mat-list-item>
		<a routerLink="/learn/bubble-sort">Bubble Sort</a>
	</mat-list-item>
	<mat-list-item>
		<a routerLink="/learn/merge-sort">Merge Sort</a>
	</mat-list-item>
	<mat-list-item>
		<a routerLink="/learn/insertion-sort">Insertion Sort</a>
	</mat-list-item>
	<!-- <mat-list-item>
		<a routerLink="/learn/quick-sort">Quick Sort</a>
	</mat-list-item> -->
	<mat-list-item>
		<a routerLink="/learn/selection-sort">Selection Sort</a>
	</mat-list-item>
</mat-list>