<h4 class="pt-2">Example</h4>
<div class="divider"></div>
<div>
	<div class="row justify-content-center">
		<p class="pr-2 my-auto">Array: </p>
		<div *ngFor="let num of arr; index as idx" class="array-box px-2">
			<ng-template [ngIf]="nextStack != null && nextStack.length > 0">
				<div *ngIf="nextStack[nextStack.length - 1].func === 'Splitting'">
					<p *ngIf="idx >= nextStack[nextStack.length - 1].arguments[0] && idx <= nextStack[nextStack.length - 1].arguments[1]"
						class="my-auto" style="color: green;">{{num}}</p>
					<p *ngIf="idx < nextStack[nextStack.length - 1].arguments[0] || idx > nextStack[nextStack.length - 1].arguments[1]"
						class="my-auto">{{num}}</p>
				</div>
				<div *ngIf="nextStack[nextStack.length - 1].func === 'Merging'">
					<p *ngIf="idx >= nextStack[nextStack.length - 1].arguments[0] && idx < nextStack[nextStack.length - 1].arguments[1]"
						class="my-auto" style="color: red;">{{num}}</p>
					<p *ngIf="idx >= nextStack[nextStack.length - 1].arguments[1] && idx <= nextStack[nextStack.length - 1].arguments[2]"
						class="my-auto" style="color: yellow;">{{num}}</p>
					<p *ngIf="idx < nextStack[nextStack.length - 1].arguments[0] || idx > nextStack[nextStack.length - 1].arguments[2]"
						class="my-auto">{{num}}</p>
				</div>
			</ng-template>
			<p *ngIf="nextStack == null || nextStack.length === 0" class="my-auto">{{num}}</p>
		</div>
	</div>
</div>
<p *ngIf="nextStack != null && nextStack.length > 0">
	{{nextStack[nextStack.length - 1].func}} [{{nextStack[nextStack.length - 1].arguments.join(' ')}}]
</p>
<div class="btn-group">
	<button class="btn btn-primary" (click)="mergeSort()">Sort</button>
	<button class="btn btn-secondary" (click)="nextStep()">Next Step</button>
	<button class="btn btn-danger" (click)="randomize()">Reset</button>
</div>

<h4 class="pt-3">Psuedocode</h4>
<div class="divider"></div>
<div class="mx-auto w-75">
	<app-code-editor [id]="0" [lang]="null" [minLines]="0" [disabled]="true" [code]="mergeSortPseudoCode">
	</app-code-editor>
</div>

<h4 class="pt-3">JavaScript Implementation</h4>
<div class="divider"></div>
<div class="mx-auto w-75">
	<app-code-editor [id]="1" [minLines]="0" [disabled]="true" [code]="mergeSortJSCode"></app-code-editor>
</div>

<h4 class="pt-3">Efficiency</h4>
<div class="divider"></div>
<div>
	<p>Runtime: O(nlogn)</p>
	<p>Space: O(1)</p>
</div>