<div class="fluid-container">
	<div class="row justify-content-center pt-2 pb-2 mb-2" style="background-color: #1e233a;">
		<div class="col-3 m-auto">
			<div class="row">
				<img src="assets/logo.svg" alt="logo" height="40" width="40">
				<h4 class="mt-auto mb-auto ml-2">AlgoLearn</h4>
			</div>
		</div>
		<app-navbar class="col-6"></app-navbar>
		<app-user-hub class="col-3 m-auto"></app-user-hub>
	</div>
	<div class="row">
		<div class="col-3">
		</div>
		<div class="col-6">
			<router-outlet></router-outlet>
		</div>
		<div class="col-3">
		</div>
	</div>
</div>