<div>
	<div class="pt-2 mr-5">
		<h2>{{ id == null ? "Create A Problem" : "Edit A Problem"}}</h2>
	</div>
	<div class="divider"></div>
	<div class="pb-3">
		<!-- Login Form -->
		<form (ngSubmit)="submitProblem(f)" #f="ngForm">
			<div class="row">
				<mat-form-field class="w-50" appearance="outline" color="primary">
					<mat-label>Problem Name</mat-label>
					<input matInput placeholder="Ex. Merge Sort Array" [(ngModel)]="problem.name"
						[ngModelOptions]="{standalone: true}">
				</mat-form-field>
			</div>

			<div class="row">
				<mat-form-field class="w-75" appearance="outline" color="primary">
					<mat-label>Problem Description</mat-label>
					<textarea rows="5" matInput placeholder="Ex. Create a Merge Sort function to sort an array"
						[(ngModel)]="problem.description" [ngModelOptions]="{standalone: true}"></textarea>
				</mat-form-field>
			</div>
			<div class="row">
				<div class="container-fluid px-0">
					<div class="row w-75">
						<div *ngFor="let param of parameters; index as i; trackBy: trackByFn">
							<mat-form-field class="mr-3" appearance="outline" color="primary">
								<mat-label>Parameter {{i}}</mat-label>
								<input matInput placeholder="Ex. size" [(ngModel)]="parameters[i].name"
									[ngModelOptions]="{standalone:true}">
								<button class="btn p-0 my-auto" mat-button matSuffix mat-icon-button aria-label="Clear"
									(click)="deleteParam(i)">
									<mat-icon style="color: white">close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</div>
					<button class="btn btn-primary" (click)="addParam()">Add
						Parameter</button>
				</div>
			</div>
			<div class="row pt-3">
				<div class="w-100" *ngFor="let testCase of testCases; index as i; trackBy: trackByFn">
					<div class="pb-2">
						<h4 class="d-inline w-100">Test Case: {{i}}</h4>
						<button *ngIf="i > 2" class="btn float-right" mat-button matSuffix mat-icon-button
							aria-label="Clear" (click)="deleteTestCase(i)">
							<mat-icon style="color: white">close</mat-icon>
						</button>
					</div>
					<div class="divider"></div>
					<mat-form-field class="w-75" appearance="outline" color="primary">
						<mat-label>Test Case Input {{i}}</mat-label>
						<textarea rows="5" matInput placeholder="Code to initialize params"
							[(ngModel)]="testCases[i].sampleInput" [ngModelOptions]="{standalone:true}"></textarea>
					</mat-form-field>
					<mat-form-field class="w-75" appearance="outline" color="primary">
						<mat-label>Test Case Output {{i}}</mat-label>
						<textarea rows="5" matInput placeholder="Expected Output"
							[(ngModel)]="testCases[i].sampleOutput" [ngModelOptions]="{standalone:true}"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row pb-4">
				<button class="btn btn-primary" (click)="addTestCase()">Add
					Test Case</button>
			</div>
			<div class="divider"></div>
			<div class="row pt-2">
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>