<div>
	<div class="header pt-2 pl-3 pr-3 mr-5">
		<p>{{ create ? "Create A Problem" : "Edit A Problem"}}</p>
	</div>
	<div class="body pt-2 pl-3 pr-3 mr-5">
		<!-- Login Form -->
		<form *ngIf="create" (ngSubmit)="createProblem(f)" #f="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="w-25" appearance="outline" color="primary">
						<mat-label>Problem Name</mat-label>
						<input matInput placeholder="Ex. Merge Sort Array">
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<mat-form-field class="w-75" appearance="outline" color="primary">
						<mat-label>Problem Description</mat-label>
						<textarea rows="5" matInput
							placeholder="Ex. Create a Merge Sort function to sort an array"></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-6 pl-0">
					<div class="container-fluid px-0">
						<div class="row">
							<div class="col-6" *ngFor="let param of parameters; index as i; trackBy: trackByFn">
								<mat-form-field appearance="outline" color="primary">
									<mat-label>Parameter {{i}}</mat-label>
									<input matInput placeholder="Ex. size" [(ngModel)]="parameters[i]"
										[ngModelOptions]="{standalone:true}">
									<button class="btn p-0" mat-button matSuffix mat-icon-button aria-label="Clear"
										(click)="deleteParam(i)">
										<mat-icon style="color: white">close</mat-icon>
									</button>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 pr-0">
					<!--<mat-chip-list class="pl-2">
			<mat-chip *ngFor="let category of problem.categories">{{ category }}</mat-chip>
		</mat-chip-list> -->
				</div>
			</div>
			<div class="row">
				<div class="btn-group">
					<button class="btn btn-danger" (click)="parameters.push('')">Add Parameter</button>
					<button type="submit" class="btn btn-primary mr-3">Remove Parameter</button>
				</div>
			</div>
		</form>
	</div>
</div>