.box {
    margin: auto;
    border: 1px solid #343a40;
    border-radius: 15px;
    width: fit-content;
}

/*.mat-form-field-appearance-outline .mat-form-field-outline-start,.mat-form-field-appearance-outline .mat-form-field-outline-end{
	border-color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap{
	border-radius:.000001px;
	border-color: white !important;
	border-left-style:none !important;
	border-right-style:none !important;
}*/

/*.mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: #2196f3;
	opacity: 1 !important;
}
.mat-form-field-label{
	color: #2196f3;
}
.mat-input-placeholder {
	color: #2196f3;
}*/
.body {
    border-top: 1px solid #343a40;
	width: 100%;
	color: white;
}