<div *ngIf="problem != null">
	<h2>{{ problem.name }}</h2>
	<div class="divider"></div>
	<p *ngFor="let line of problem.description.split('\n')">{{line}}</p>
</div>

<ng-template [ngIf]="categories != null && categories.length > 0">
	<h5>Categories</h5>
	<div class="divider"></div>
	<div class="row mb-3">
		<mat-chip-list>
			<mat-chip *ngFor="let category of categories">
				{{category.name}}
			</mat-chip>
		</mat-chip-list>
	</div>
</ng-template>

<mat-form-field appearance="fill">
	<mat-label>Language</mat-label>
	<mat-select [(value)]="lang" (selectionChange)=changeLang($event)>
		<mat-option *ngFor="let l of solutionService.languages" [value]="l">{{l.name}}</mat-option>
	</mat-select>
</mat-form-field>
<app-code-editor class="mb-5" id="0" [lang]="lang.ace_mode" [saveId]="id"></app-code-editor>
<div *ngIf="userService.isLoggedIn" class="pt-3">
	<div class="w-100">
		<button type="button" class="btn btn-primary float-right" (click)="runCode()">Submit</button>
	</div>
	<mat-progress-bar *ngIf="loadingSubmit" class="rounded w-75 mt-2" mode="indeterminate">
	</mat-progress-bar>
</div>

<h4 class="mt-5">Test Cases</h4>
<div class="divider"></div>
<p *ngIf="results != null && testCases != null &&  solution != null && solution.passedTests != null">
	{{solution.passedTests}}/{{testCases.length}} passed</p>
<mat-card class="mb-3 p-3 rounded" *ngFor="let testCase of testCases; index as idx">
	<mat-card-header class="ml-0">
		<mat-card-title>Test Case {{idx}}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="mt-3" *ngIf="loadingResults"></div>
		<mat-progress-bar *ngIf="loadingResults" class="rounded w-75 mt-2" mode="indeterminate">
		</mat-progress-bar>
		<div class="mt-3" *ngIf="loadingResults"></div>
		<mat-form-field class="w-100" appearance="outline" color="primary">
			<mat-label>Input</mat-label>
			<textarea rows="5" matInput disabled [value]="testCase.sampleInput" name="comment"></textarea>
		</mat-form-field>

		<mat-form-field *ngIf="results != null && results[idx] != null && results[idx].stdout != null" class="w-100"
			appearance="outline" color="primary">
			<mat-label>Actual Output</mat-label>
			<textarea rows="5" matInput disabled [value]="results[idx].stdout" name="comment"></textarea>
		</mat-form-field>

		<mat-form-field class="w-100" appearance="outline" color="primary">
			<mat-label>Expected Output</mat-label>
			<textarea rows="5" matInput disabled [value]="testCase.sampleOutput" name="comment"></textarea>
		</mat-form-field>

		<mat-form-field *ngIf="results != null && results[idx] != null && results[idx].stderr != null" class="w-100"
			appearance="outline" color="primary">
			<mat-label>Error Log</mat-label>
			<textarea rows="5" matInput disabled [value]="results[idx].stderr" name="comment"></textarea>
		</mat-form-field>

		<p *ngIf="results != null && results[idx] != null && results[idx].time != null">Time: {{results[idx].time}}</p>
	</mat-card-content>
</mat-card>

<h2>Discussion</h2>
<div class="divider"></div>
<app-problem-discussion [id]="id"></app-problem-discussion>