// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AlgoLearnWeb-primary: mat-palette($mat-blue);
$AlgoLearnWeb-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AlgoLearnWeb-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AlgoLearnWeb-theme: mat-dark-theme(
	$AlgoLearnWeb-primary,
	$AlgoLearnWeb-accent,
	$AlgoLearnWeb-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AlgoLearnWeb-theme);
@include mat-form-field-theme($AlgoLearnWeb-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

*:not(pre) {
	font-family: Consolas;
}

.row {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

body {
	background-color: #0f1324;
	color: white !important;
	min-height: 100%;
	margin: 0;
}

html {
	height: 100%;
}

.mat-list-item {
	color: white !important;
}

.divider {
	padding-top: 0;
	border-top: 1px solid darkgray;
	margin-bottom: 1rem;
}
