/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.row {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

html {
	height: 100%;
}

body {
	background-color: #0f1324;
	color: white;
	min-height: 100%;
}
