<div class="w-75 mx-auto">
	<h2>Welcome to AlgoLearn</h2>
	<div class="divider"></div>
	<p>
		AlgoLearn is a site dedicated to helping you learn algorithms.
		We strive to help you learn, practice, and discuss algorithms
		in order to help you succeed in the modern tech industry.
	</p>

	<h4 class="pt-4">Learn</h4>
	<div class="divider"></div>
	<p>
		The learn section will help teach you the fundamentals of algorithms
		and data structures. This portion of the site will be full of explanations,
		visualizations, and learning materials to help describe the
		manner in which each algorithm works.
	</p>

	<h4 class="pt-4">Practice</h4>
	<div class="divider"></div>
	<p>
		The practice section will help you use and master the algorithms that you
		are learning. There are lists of problems that you can complete. Our site
		currently supports JavaScript the language to provide solutions for each
		problem.
	</p>

	<h4 class="pt-4">Discuss</h4>
	<div class="divider"></div>
	<p>
		The discussion section is a list of forums/comment sections for each problem
		from the problem section. If you are struggling with solving a problem or
		perhaps you understand a problem and would like to provide insight into how
		you approached a specific issue, this section is for discussing such material.
		You can also access the discussion page for a problem from the problem itself.
	</p>
</div>