
<mat-paginator *ngIf="comments != null" class="mb-3 mt-2 rounded" [length]="comments.length"
[pageIndex]="pageState.pageIndex"
[pageSize]="pageState.pageSize"
[pageSizeOptions]="[5, 10, 25, 100]"
(page)="updateCommentView($event)">
</mat-paginator>
<div *ngIf="comments">
	<div *ngFor="let comment of comments | 
		slice:pageState.pageIndex * pageState.pageSize:
		pageState.pageIndex * pageState.pageSize+pageState.pageSize;
		index as idx">
		<mat-card class="mb-3">
			<mat-card-header class="ml-0">
				<div mat-card-avatar>
					<img class="rounded-circle" width="35px" height="35px" [src]="usernameToAvatarMap[comment.commenter]">
				</div>
				<mat-card-title>{{comment.commenter}}</mat-card-title>
			</mat-card-header>
			<mat-card-content class="mb-0">
				<p *ngIf="!isEditingComments[idx+(pageState.pageIndex*pageState.pageSize)]" class="my-0">{{comment.comment}}
					<div *ngIf="!isEditingComments[idx+(pageState.pageIndex*pageState.pageSize)]" class="my-2 btn-group">
						<button type="button" class="btn btn-primary" *ngIf="comment.commenter == userService.username"
						(click)="editComment(idx+(pageState.pageIndex*pageState.pageSize))">
							<i class="far fa-edit"></i>
						</button> 
						<button type="button" class="btn btn-danger" *ngIf="comment.commenter == userService.username"
						(click)="deleteComment(idx+(pageState.pageIndex*pageState.pageSize))">
							<i class="fas fa-times"></i>
						</button> 
					</div>
				<form *ngIf="isEditingComments[idx+(pageState.pageIndex*pageState.pageSize)]" (ngSubmit)="submitEditComment(g, idx+(pageState.pageIndex*pageState.pageSize), commentTextarea)" #g="ngForm">
					<mat-form-field class="w-100" appearance="outline" color="primary">
						<mat-label>Edit your comment</mat-label>
						<textarea #commentTextarea rows="5" matInput [placeholder]="comments[idx+(pageState.pageIndex*pageState.pageSize)].comment" 
							[value]="comments[idx+(pageState.pageIndex*pageState.pageSize)].comment" name="comment">{{comments[idx+(pageState.pageIndex*pageState.pageSize)].comment}}</textarea>
					</mat-form-field>
					<div class="row pt-2 btn-group">
						<button type="submit" class="btn btn-primary">
							<i class="far fa-paper-plane"></i>
						</button>
						<button type="button" class="btn btn-danger" (click)="cancelEditComment(idx+(pageState.pageIndex*pageState.pageSize))">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</form>
			</mat-card-content>
			<mat-card-footer class="mx-0">
				<p class="commentTime">{{comment.timestamp | date:'short'}}</p>
			</mat-card-footer>
		</mat-card>
	</div>
</div>
<div *ngIf="userService.isLoggedIn">
	<mat-card class="mb-3">
		<mat-card-header class="ml-0">
			<div mat-card-avatar>
				<img class="rounded-circle" width="35px" height="35px" [src]="userService.avatar_url">
			</div>
			<mat-card-title>{{userService.username}}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form (ngSubmit)="submitComment(f)" #f="ngForm">
				<div class="row">
					<mat-form-field class="w-100" appearance="outline" color="primary">
						<mat-label *ngIf="comments && comments.length != 0">Join the conversation!</mat-label>
						<mat-label *ngIf="comments && comments.length == 0">Start the conversation!</mat-label>
						<textarea rows="5" matInput  
							[(ngModel)]="newComment.comment" name="comment"></textarea>
					</mat-form-field>
				</div>
				<div class="row pt-2">
					<button type="submit" class="btn btn-primary">
						<i class="far fa-paper-plane"></i>
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
